/*
* {
  border: 1px solid red !important;
}
*/
body{
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 110%;
  background-color:#fffaf0
}

header{
  background-color: #d3d3d3;
  font-size: larger
}


nav{
  background-color:#faebd7;
  display: inline-block;
}

main{
  background-color: #f5f5dc;
  
}

footer{
  background-color:#ffa07a;
  font-size: 125%;
  }

li{
  display: inline-block;
  width:max-content;
  margin-right: 20px;
}

h1{
  font-family: Arial, Helvetica, Times New Roman, sans-serif;
  text-align: center;
  color: #8b0000;
  line-height: normal;
  
}
img{
  display: inline-block;
  max-width: 150px;
  height: 150px;
  border-radius: 5px;

}

p{
  font-family: Arial, Helvetica, Times New Roman, sans-serif;
  line-height: normal;
  display: block;
  text-align: justify;
}

a {
  color: #00008b;
  font-weight: bold;
}
.container1{
  display: grid;
  grid-template-columns: 80% 20%; 
  padding: 20px;
  /*border: 2px solid red;*/
}

.hdr_top_left{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  position: relative;
  padding: 10px;
}

.hdr_top_right{
  display: flex;
  margin: auto;
  /*align-self: center; */
  width: 20vw;
  height: auto;
  aspect-ratio: 1 / 1;
  object-fit: cover;
  /*border: 2px solid blue;*/
}

.hdr_bottom_full {
  flex-basis: 100%;
  text-align: center;
  font-size: 5.7vw;
  margin-top: 20px;
  margin-bottom: 10%;
}

.nav-wrapper {
  display: flex;
  justify-content: space-between; /* Even distribution */
  width: 100%;
}

.navuli{
  list-style-type: none;
  display: inline-block;
  text-align: justify;
  text-align-last: justify;
  width: 100%;
  font-size: 2.0vw;
 
}
.navuli a {  /*Normal anchor unvisited */
  text-decoration: none;
  color: #006400;
}
.navuli a:visited {  /*Normal anchor visited */
  text-decoration: none;
  color: #8765cd;
}
.navuli a:hover {  /*Normal anchor on hover */
  text-decoration: none;
  background-color: #f078f1e6;
}
.container2{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  padding: 20px;
  /*justify-content: space-around;*/
  justify-items: center;
  /*align-content: space-around;*/
  align-items: center;
  border: 2px solid blue;
}
.container2 img {
  max-width: fit-content;
  /*position: relative;*/
  width: 90%;
  height: 90%;
  object-fit: cover;
  aspect-ratio: 1 / 1.5;
}

.container3{
  display: flex;
  gap: 20px;
  padding: 20px;
  flex-direction: row;
  background-color: azure;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.container3 img {
  max-width: fit-content;
  /*position: relative;*/
  object-fit: cover;
  aspect-ratio: 1 / 1.5;
}